.text-content{
    min-height: 240px;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 300;
    background: white;
}

.title{
    font-weight: bold;
    color: black;
    font-size: 1.3em;
}